*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
package-lock.json
!express-app/*
express-app/package-lock.json
express-app/node_modules
config/config.yaml
